<h1 class="page-header">New Order</h1>

<div class="row">
  <div class="col-md-3">
    <label>Company Name :</label>
    <p><%= @service.company_name %></p>
  </div>
</div>

TODO :
create add button to add service date dynamic
edit feature
delete feature

<%= react_component 'NewOrder' %>