<h1 class="page-header">New Order</h1>

<div class="row">
  <div class="col-md-3">
    <label>Company Name :</label>
    <p><%= @service.company_name %></p>
  </div>
</div>

<%= react_component 'NewOrder', 
  {
    client_id: @client.id, 
    location: {
      value: nil, 
      name: "-"
    }, 
    date: {
      start_at: "", 
      end_at: ""
    }
  } 
%>