<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @ba.name %>

    <p>This demo [<%= @service.client_and_companyname %>, <%= @service.date %>, <%= @service.location.complete_location %>] was canceled. </p>
    <p>Sorry about inconvenience</p>
    
    <p>Thanks</p>
  </body>
</html>