<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your new password</h1>
    <p>
      your email is: <%= @email %><br>
      your new password is: <strong><%= @password %></strong><br>
    </p>
    <p>Thanks</p>
  </body>
</html>