var NewOrder = React.createClass({
  render: function() {
    return (
      <div className="row">
        <div className="col-md-12">
          <NewOrderAddService />
          <NewOrderTableServices />
        </div>
      </div>
    );
  }
});