<h1 class="page-header">Calender BA Availablty</h1>
<div id="colour-legend">
  <div class="paid tooltip-legend" data-toggle="tooltip" data-placement="top" title="Available all day">&nbsp;</div>
  <div class="rejected tooltip-legend" data-toggle="tooltip" data-placement="top" title="Available AM">&nbsp;</div>
  <div class="scheduled tooltip-legend" data-toggle="tooltip" data-placement="top" title="Available PM">&nbsp;</div>  
</div>
<div id="calendar" data-url="<%= view_ba_calender_brand_ambassadors_path(format: :json) %>"></div>