<h1 class="page-header">Show project</h1>
<label>Client :</label>
<p><%= @project.client.name %></p>

<label>Name :</label>
<p><%= @project.name %></p>

<label>Description :</label>
<p><%= @project.descriptions %></p>
