<h1 class="page-header">Available Date</h1>
<div class="link-new-btn"><%= link_to("Add available date", new_available_date_path, {class: "btn btn-primary", role: "button"}) %></div>
<div id="calendar" data-url="<%= available_dates_path %>.json"></div>