@import "bootstrap";
@import "bootstrap-datetimepicker";

body {
  padding-top: 50px;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
  display: none;
}

@media(max-width:768px) {
  #menu-toggle {
    display: block;
    // position: fixed;
    // top: 60px;
  }
}

@media(min-width:768px) {

    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

// Form Signin
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.link-new-btn {
  float: right;
  margin: 10px
}

.select-2-box{
  width:100%;
}

.report {
  padding-bottom: 10px;
}

.report-title {
  text-decoration: underline;
}

.report-left {
  float: left;
  padding-right: 15px;  
}

.report-option-details {
  background-color: lime;
  font-weight: bold;  
}

.report-weather-traffic {
  background-color: yellow;
}

#calendar-and-legend {
  margin-top: 75px;
}

#colour-legend {
  padding-bottom: 25px;
}

#colour-legend div{    
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;  
  // color: white;
}

.scheduled {
  background-color: #8DB4E3;
  border-color: #8DB4E3;
}

.confirmed {
  background-color: #92D050;
  border-color: #92D050;
}

.rejected {
  background-color: #FFFF00;
  border-color: #FFFF00;
}

.conducted {
  background-color: #0070C0;
  border-color: #0070C0;
}

.unrespond {
  background-color: #A5A5A5;
  border-color: #A5A5A5;
}

.reported {
  background-color: #FFC000;
  border-color: #FFC000;
}

.paid {
  background-color: #00B050;
  border-color: #00B050;
}

.ba-paid {
  background-color: #E46D0A;
  border-color: #E46D0A;
}

.cancelled {
  background-color: #000000;
  border-color: #000000;
  color: white;
}


.width_50 {
  width: 50%;
}

.width_100 {
  width: 100%;
}

#co-op-client-name {
  display: none;
}

.width_35px {
  width: 35px;
}

@media print
{
  .no-print { visibility: hidden; }
  .no-print { display: none; }
}
