<h1 class="page-header">Edit Default Values</h1>
<%= form_for @default_value, html: {role: "form"} do |f| %>
  <div class="form-group">
    <%= f.label :rate_project, {class: "control-label"} %>
    <%= f.number_field :rate_project, {class: "form-control"} %>
  </div>  


  <%= f.button "Submit", {type: "submit", class: "btn btn-default"} %>
<% end %>
