<h1 class="page-header">List Assignments</h1>

<%= render partial: 'grid' %>    

<div class="row-fluid">
<!--   <div class="row-fluid">
    <div class="span2">
      Assigned To
    </div>
    <div class="span10">
      <%#= grid_filter @services_grid, :ba_name_filter %>
    </div>    
  </div> -->
  <div class="span12">
    <div class="external-buttons">
      <!-- <button class="btn btn-primary wg-external-submit-button" data-grid-name="grid">Submit</button> -->
      <!-- <button class="btn wg-external-reset-button" data-grid-name="grid">Reset</button> -->
      <button class="btn btn-primary wg-external-csv-export-button" data-grid-name="grid">Export To CSV</button>
    </div>
  </div>
</div>


<%= render_grid @services_grid %>