<h1 class="page-header">BA Availability Calendar</h1>


<div id="colour-legend">
  <div class="scheduled tooltip-legend" data-toggle="tooltip" data-placement="top" title="Scheduled">&nbsp;</div>
  <div class="confirmed tooltip-legend" data-toggle="tooltip" data-placement="top" title="Confirmed">&nbsp;</div>
  <div class="rejected tooltip-legend" data-toggle="tooltip" data-placement="top" title="Rejected">&nbsp;</div>
  <div class="conducted tooltip-legend" data-toggle="tooltip" data-placement="top" title="Conducted">&nbsp;</div>
  <div class="unrespond tooltip-legend" data-toggle="tooltip" data-placement="top" title="Unrespond">&nbsp;</div>
  <div class="reported tooltip-legend" data-toggle="tooltip" data-placement="top" title="Reported">&nbsp;</div>
  <div class="paid tooltip-legend" data-toggle="tooltip" data-placement="top" title="Paid">&nbsp;</div>
  <div class="ba-paid tooltip-legend" data-toggle="tooltip" data-placement="top" title="BA Paid">&nbsp;</div>
  <div class="cancelled tooltip-legend" data-toggle="tooltip" data-placement="top" title="Cancelled">&nbsp;</div>
</div>


<div id="calendar" data-url="<%= view_calendar_reports_path({format: :json, status: params[:status], assigned_to: params[:assigned_to], project_name: params[:project_name], client_name: params[:client_name]}) %>"></div>