<div class="col-md-12">
    <%= form_tag(add_ba_locations_path, method: :post, role: "form") do %>
        <div class="form-group">
            <%= select_tag "brand_ambassador_id", options_from_collection_for_select(@brand_ambassadors, "id", "name"), class: "form-control", multiple: true, required: true %>
            <%= hidden_field_tag(:location_ba_ids) %>
        </div>
        <div class="form-group">
            <%= submit_tag("Add location to BA", {class: "btn btn-primary form-control"} ) %>
        </div>
    <% end %>
</div>