<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "In Store Marketing" %></title>
    <style type="text/css">
      .report {
        padding-bottom: 10px;
      }

      .report-title {
        text-decoration: underline;
      }

      .report-left {
        float: left;
        padding-right: 15px;  
      }

      .report-option-details {
        background-color: lime;
        font-weight: bold;  
      }

      .report-weather-traffic {
        background-color: yellow;
      }    
    </style>
  </head>
  <body>
      <div class="container-fluid">
        <%= yield %>
      </div>
  </body>
</html>