<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "In Store Marketing" %></title>
    <style type="text/css">
    </style>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= image_tag(@dataurl, {style: "width: 100%;height:auto"}) %>
  </body>
</html>